workflows/01-telegram-handler.json
{
  "name": "01-telegram-handler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "value2": "/start"
            },
            {
              "value1": "={{ $json.message.text }}",
              "value2": "/connect"
            },
            {
              "value1": "={{ $json.message.text }}",
              "value2": "/connections"
            },
            {
              "value1": "={{ $json.message.text }}",
              "value2": "/disconnect"
            },
            {
              "value1": "={{ $json.message.text }}",
              "value2": "/issues"
            },
            {
              "value1": "={{ $json.message.text }}",
              "value2": "/status"
            },
            {
              "value1": "={{ $json.message.text }}",
              "value2": "/done"
            },
            {
              "value1": "={{ $json.message.text }}",
              "value2": "/cancel"
            }
          ]
        }
      },
      "id": "switch-cmd",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Welcome to Akama! I'm your AI coding assistant.\n\nCommands:\n/connect \u2014 Link a repo (GitHub/GitLab/Trello)\n/connections \u2014 List connected repos\n/issues \u2014 Fetch open issues\n/status \u2014 Check recent jobs\n/done <id> \u2014 Mark job complete\n/cancel \u2014 Cancel current flow\n\nSend me a repo URL to get started, or /connect to begin."
      },
      "id": "cmd-start",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Choose a provider:",
        "extraFields": {
          "replyMarkup": {
            "inlineKeyboard": [
              [
                {
                  "text": "GitHub",
                  "callback_data": "connect:github"
                },
                {
                  "text": "GitLab",
                  "callback_data": "connect:gitlab"
                },
                {
                  "text": "Trello",
                  "callback_data": "connect:trello"
                }
              ]
            ]
          }
        }
      },
      "id": "cmd-connect",
      "name": "Send Connect Options",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Telegram Trigger').item.json.message.chat.id;\nreturn { chat_id: chatId, state: 'await_provider', data: {} };"
      },
      "id": "set-state-connect",
      "name": "Set State await_provider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO akama_conversations (chat_id, platform, state, data, updated_at) VALUES ($1, 'telegram', 'await_provider', '{}', NOW()) ON CONFLICT (chat_id, platform) DO UPDATE SET state = 'await_provider', data = '{}', updated_at = NOW()"
      },
      "id": "save-state-connect",
      "name": "Save Connect State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1140,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM akama_conversations WHERE chat_id = {{ $json.message.chat.id }} AND platform = 'telegram'"
      },
      "id": "query-state",
      "name": "Query Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        700,
        700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Available connections:\n\n(No connections configured yet. Use /connect to add one.)"
      },
      "id": "cmd-connections",
      "name": "Send Connections List",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE akama_conversations SET state = 'idle', data = '{}', updated_at = NOW() WHERE chat_id = {{ $json.message.chat.id }}"
      },
      "id": "cmd-cancel",
      "name": "Reset State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        700,
        580
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Conversation state reset."
      },
      "id": "notify-cancel",
      "name": "Notify Cancelled",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        920,
        580
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, issue_title, status FROM akama_jobs WHERE chat_id = {{ $json.message.chat.id }} ORDER BY created_at DESC LIMIT 5"
      },
      "id": "cmd-status",
      "name": "Query Recent Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all().map(j => j.json);\nconst text = jobs.length === 0\n  ? 'No recent jobs.'\n  : jobs.map(j => `#${j.id} [${j.status}] ${j.issue_title}`).join('\\n');\nreturn { text };"
      },
      "id": "format-status",
      "name": "Format Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}"
      },
      "id": "send-status",
      "name": "Send Status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1140,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $json.state }}",
            "rightValue": "idle"
          }
        }
      },
      "id": "check-state",
      "name": "Check State",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        700
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "workflows/03-follow-up.json",
          "mode": "list",
          "cachedResultName": "03-follow-up"
        },
        "options": {}
      },
      "id": "call-followup",
      "name": "Call Follow-up",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1140,
        640
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Reply to a PR notification message to request a follow-up, or use /connect to link a repo."
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1140,
        760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, issue_title FROM akama_jobs WHERE chat_id = {{ $json.message.chat.id }} AND status = 'pr_created' ORDER BY created_at DESC LIMIT 10"
      },
      "id": "query-issues",
      "name": "Query Open Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1140,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all().map(j => j.json);\nif (jobs.length === 1) {\n  return [{ action: 'single', job_id: jobs[0].id, job_title: jobs[0].issue_title }];\n}\nreturn [{ action: 'multiple', jobs }];"
      },
      "id": "route-issues",
      "name": "Route Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        860
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE akama_jobs SET status = 'done', updated_at = NOW() WHERE id = {{ $json.message.text.replace('/done ', '').trim() }}"
      },
      "id": "cmd-done",
      "name": "Mark Job Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        700,
        640
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Job {{ $json.message.text.replace('/done ', '').trim() }} marked as done."
      },
      "id": "notify-done",
      "name": "Notify Done",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        920,
        640
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Connect Options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Connections List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Job Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Recent Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Connect Options": {
      "main": [
        [
          {
            "node": "Set State await_provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set State await_provider": {
      "main": [
        [
          {
            "node": "Save Connect State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Recent Jobs": {
      "main": [
        [
          {
            "node": "Format Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status": {
      "main": [
        [
          {
            "node": "Send Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job Done": {
      "main": [
        [
          {
            "node": "Notify Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset State": {
      "main": [
        [
          {
            "node": "Notify Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Conversation State": {
      "main": [
        [
          {
            "node": "Check State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check State": {
      "main": [
        [
          {
            "node": "Call Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Follow-up": {
      "main": [
        [
          {
            "node": "Query Open Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Open Jobs": {
      "main": [
        [
          {
            "node": "Route Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-29T00:00:00.000Z",
  "versionId": 1,
  "id": "ef56f682-a6ff-47db-85be-e6b5d8f2e206"
}