workflows/02-run-job.json
{
  "name": "02-run-job",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM akama_jobs WHERE id = {{ $json.job_id }}"
      },
      "id": "read-job",
      "name": "Read Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE akama_jobs SET status = 'running', updated_at = NOW() WHERE id = {{ $json.id }}"
      },
      "id": "update-running",
      "name": "Set Status Running",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=[{{ $json.provider }}/{{ $('Read Job').item.json.repo_url }}] Working on: {{ $('Read Job').item.json.issue_title }}..."
      },
      "id": "notify-working",
      "name": "Notify Working",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "command": "=/usr/local/bin/akama-scripts/git-clone.sh {{ $('Read Job').item.json.repo_url }} {{ $('Read Job').item.json.git_token }} /workspaces/{{ $('Read Job').item.json.id }}"
      },
      "id": "git-clone",
      "name": "Git Clone",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "sshPassword": { "id": "3", "name": "Worker SSH" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE akama_jobs SET workspace_path = '/workspaces/{{ $('Read Job').item.json.id }}', updated_at = NOW() WHERE id = {{ $('Read Job').item.json.id }}"
      },
      "id": "update-workspace",
      "name": "Update Workspace Path",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build prompt and write to temp file\nconst job = $('Read Job').item.json;\nconst body = (job.issue_body || '').substring(0, 8000);\nconst prompt = `You are fixing an issue in the current repository.\\n\\nIssue Title: ${job.issue_title}\\nIssue URL: ${job.repo_url.replace('.git', '')}/issues/${job.issue_id}\\n\\nDescription:\\n${body}\\n\\nInstructions:\\n- Read the codebase to understand the context.\\n- Implement the minimal fix for this issue.\\n- Commit all changes with a descriptive message.\\n- Do NOT open pull requests — just commit.`;\n\nconst fs = require('fs');\nconst path = `/tmp/prompt-${job.id}.txt`;\nfs.writeFileSync(path, prompt);\nreturn [{ prompt_path: path, job_id: job.id }];"
      },
      "id": "write-prompt",
      "name": "Write Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "command": "=/usr/local/bin/akama-scripts/run-agent.sh {{ $('Read Job').item.json.agent }} {{ $('Read Job').item.json.agent_model }} /workspaces/{{ $('Read Job').item.json.id }} {{ $json.prompt_path }}"
      },
      "id": "run-agent",
      "name": "Run Agent",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1780, 300],
      "onError": "continueErrorOutput",
      "credentials": {
        "sshPassword": { "id": "3", "name": "Worker SSH" }
      }
    },
    {
      "parameters": {
        "command": "=/usr/local/bin/akama-scripts/git-commit-push.sh /workspaces/{{ $('Read Job').item.json.id }} akama/issue-{{ $('Read Job').item.json.issue_id }} {{ $('Read Job').item.json.git_token }}"
      },
      "id": "git-push",
      "name": "Git Commit Push",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1780, 540],
      "credentials": {
        "sshPassword": { "id": "3", "name": "Worker SSH" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "={{ $('Read Job').item.json.repo_url }}", "operation": "contains", "rightValue": "github.com" }
        }
      },
      "id": "check-provider",
      "name": "Check Git Provider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Read Job').item.json.repo_url.replace('https://github.com/', '').replace('.git', '') }}/pulls",
        "authentication": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"fix: {{ $('Read Job').item.json.issue_title }}\",\n  \"head\": \"akama/issue-{{ $('Read Job').item.json.issue_id }}\",\n  \"base\": \"main\",\n  \"body\": \"Automated fix for issue #{{ $('Read Job').item.json.issue_id }}\"\n}",
        "options": {}
      },
      "id": "create-github-pr",
      "name": "Create GitHub PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gitlab.com/api/v4/projects/{{ $encodeURIComponent($('Read Job').item.json.repo_url.replace('https://gitlab.com/', '').replace('.git', '')) }}/merge_requests",
        "authentication": "gitlabApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"fix: {{ $('Read Job').item.json.issue_title }}\",\n  \"source_branch\": \"akama/issue-{{ $('Read Job').item.json.issue_id }}\",\n  \"target_branch\": \"main\",\n  \"description\": \"Automated fix for issue #{{ $('Read Job').item.json.issue_id }}\"\n}",
        "options": {}
      },
      "id": "create-gitlab-mr",
      "name": "Create GitLab MR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 640]
    },
    {
      "parameters": {
        "jsCode": "// Normalize PR/MR response to common format\nconst github = $('Create GitHub PR').item?.json;\nconst gitlab = $('Create GitLab MR').item?.json;\nconst pr_url = github?.html_url || gitlab?.web_url || '';\nreturn [{ pr_url }];"
      },
      "id": "normalize-pr",
      "name": "Normalize PR URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 540]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE akama_jobs SET status = 'pr_created', branch_name = 'akama/issue-{{ $('Read Job').item.json.issue_id }}', pr_url = '{{ $('Normalize PR URL').item.json.pr_url }}', updated_at = NOW() WHERE id = {{ $('Read Job').item.json.id }}"
      },
      "id": "update-pr",
      "name": "Update Job PR Created",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2660, 540],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Read Job').item.json.chat_id }}",
        "text": "=[{{ $('Read Job').item.json.provider }}/{{ $('Read Job').item.json.repo_url }}] PR ready — {{ $('Read Job').item.json.issue_title }}\n{{ $('Normalize PR URL').item.json.pr_url }}\n\nReply to this message for follow-up or /done {{ $('Read Job').item.json.id }}"
      },
      "id": "notify-ready",
      "name": "Notify PR Ready",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2880, 540],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE akama_jobs SET notification_msg_id = '{{ $json.message_id }}', updated_at = NOW() WHERE id = {{ $('Read Job').item.json.id }}"
      },
      "id": "update-notif",
      "name": "Save Notification ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [3100, 540],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE akama_jobs SET status = 'failed', error_msg = '{{ $json.message.replace(/'/g, \"''\") }}', updated_at = NOW() WHERE id = {{ $('Read Job').item.json.id }}"
      },
      "id": "update-failed",
      "name": "Set Status Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2000, 780],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Read Job').item.json.chat_id }}",
        "text": "=❌ Job failed: {{ $json.message }}"
      },
      "id": "notify-error",
      "name": "Notify Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2220, 780],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm -rf /workspaces/{{ $('Read Job').item.json.id }}"
      },
      "id": "cleanup-failed",
      "name": "Cleanup Workspace",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [2440, 780],
      "credentials": {
        "sshPassword": { "id": "3", "name": "Worker SSH" }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Read Job", "type": "main", "index": 0 }]]
    },
    "Read Job": {
      "main": [[{ "node": "Set Status Running", "type": "main", "index": 0 }]]
    },
    "Set Status Running": {
      "main": [[{ "node": "Notify Working", "type": "main", "index": 0 }]]
    },
    "Notify Working": {
      "main": [[{ "node": "Git Clone", "type": "main", "index": 0 }]]
    },
    "Git Clone": {
      "main": [[{ "node": "Update Workspace Path", "type": "main", "index": 0 }]]
    },
    "Update Workspace Path": {
      "main": [[{ "node": "Write Prompt", "type": "main", "index": 0 }]]
    },
    "Write Prompt": {
      "main": [[{ "node": "Run Agent", "type": "main", "index": 0 }]]
    },
    "Run Agent": {
      "main": [[{ "node": "Git Commit Push", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Set Status Failed", "type": "main", "index": 0 }]]
    },
    "Git Commit Push": {
      "main": [[{ "node": "Check Git Provider", "type": "main", "index": 0 }]]
    },
    "Check Git Provider": {
      "main": [
        [{ "node": "Create GitHub PR", "type": "main", "index": 0 }],
        [{ "node": "Create GitLab MR", "type": "main", "index": 0 }]
      ]
    },
    "Create GitHub PR": {
      "main": [[{ "node": "Normalize PR URL", "type": "main", "index": 0 }]]
    },
    "Create GitLab MR": {
      "main": [[{ "node": "Normalize PR URL", "type": "main", "index": 0 }]]
    },
    "Normalize PR URL": {
      "main": [[{ "node": "Update Job PR Created", "type": "main", "index": 0 }]]
    },
    "Update Job PR Created": {
      "main": [[{ "node": "Notify PR Ready", "type": "main", "index": 0 }]]
    },
    "Notify PR Ready": {
      "main": [[{ "node": "Save Notification ID", "type": "main", "index": 0 }]]
    },
    "Set Status Failed": {
      "main": [[{ "node": "Notify Error", "type": "main", "index": 0 }]]
    },
    "Notify Error": {
      "main": [[{ "node": "Cleanup Workspace", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-29T00:00:00.000Z",
  "versionId": 1,
  "id": "adf5a699-2b52-4863-8bc5-fc76b2ff811b"
}
